<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web Apps</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/webjars/bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.0.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Hello! This is home page.</h1>
    <div class="container">
        <h3><a class="link-danger" th:href="@{/register}">Register</a></h3>
        <h3><a class="link-danger" th:href="@{/login}">Login</a></h3>   
        <h3><a id="profile-page" class="link-danger" th:href="@{/user}">User Profile</a></h3>

    </div>


    <script>
        const url = "http://localhost:8080/users";

		const profileLink = document.getElementById('profile-page');

		// Display profile page
		// profileLink.addEventListener("click", (e) => {
		// 	e.preventDefault();
		// 	// getUser();
		// });

        function getToken() {
            return document.cookie;
        }

        $.ajax(
            
        )

        function getUser() {
            const token = getToken();
            if(!token)
                return;
			// Add the word "Bearer" and delete "token="
            const authToken = "Bearer " + token.slice(6);
        
			const headers = new Headers();
			headers.append('Content-Type', 'application/json');
			headers.append('Authorization', authToken);

			const request = new Request(url, {
				method: "GET",
				headers: headers,
				redirect: 'manual',
				credentials: 'include',
                
			});

            fetch(request)
                .then(res => res.json())
                .then(data => {
					console.log(data);
					// window.location.href = "http://localhost:8080/user";
				})
                .catch(err => console.log(err));
        }
    </script>
</body>
</html>